/* settings.css */

#settings {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
}


.field {
    width: 100%;
    min-height: var(--input-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
}

.field > label {
    align-content: center;
    align-self: stretch;
    flex: 1;
    user-select: none;
}
