{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    {% if videos %}
        <main id="videos">
            {% for video in videos %}
                <a class="video" href="{{ url_for('pages.watch', video_id=video.id) }}" data-id="{{ video.id }}">
                    <div class="thumbnail-wrapper">
                        {% if video.thumbnail %}
                            <img class="video-thumbnail" src="{{ url_for('static', filename='thumbnails/' + video.thumbnail) }}" alt="▶">
                        {% else %}
                            <div class="video-thumbnail video-thumbnail-placeholder">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="48" fill="white" clip-path="url(#circleClip)"/>
                                    <polygon points="38,28 38,72 72,50" fill="#434343"/>
                                </svg>
                            </div>
                        {% endif %}
                        {% if video.duration %}
                            <div class="duration">
                                {% if video.duration >= 3600 %}
                                    {% set hours = video.duration // 3600 %}
                                    {% set minutes = (video.duration % 3600) // 60 %}
                                    {% set seconds = video.duration % 60 %}
                                    {{ '%02d:%02d:%02d' % (hours, minutes, seconds) }}
                                {% else %}
                                    {% set minutes = video.duration // 60 %}
                                    {% set seconds = video.duration % 60 %}
                                    {{ '%02d:%02d' % (minutes, seconds) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <p class="video-title">{{ video.name }}</p>
                </a>
            {% endfor %}
        </main>
    {% else %}
        <p id="no-videos">no videos</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/index/main.js') }}"></script>
{% endblock %}
