<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OffTube</title>
    
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> <!-- Убрать -->
</head>
<body>
    <header>
        <a id="title" href="#">
            <h1>OffTube</h1>
        </a>
        <a id="settings-btn" class="header-btn" href="#">
            <i class="fas fa-cog"></i>
        </a>
    </header>

    
    <main id="videos">
        <a class="video" href="#" data-id="1">
            <div class="thumbnail-wrapper">
                <div class="video-thumbnail video-thumbnail-placeholder">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="48" fill="white" clip-path="url(#circleClip)"/>
                        <polygon points="38,28 38,72 72,50" fill="#434343"/>
                    </svg>
                </div>
                <div class="duration">12:43</div>
            </div>
            <p class="video-title">Tutle</p>
        </a>
    </main>

    <script src="static/js/main.js"></script>
    <script src="static/js/index.js"></script>
</body>
</html>
